.wrapper {
	font-family: Arial, sans-serif;
	text-align: center;
	margin: 30px auto;
}

.form__input { border-radius: 5px 0 0 5px; }
.form__submit { border-radius: 0 5px 5px 0; cursor: pointer; }

.form_common-styles {
	outline: 0;
	border: 0;
	font-size: 20px;
	padding: 12px;
	border: 1px solid #ccc;
}

.playlist { padding: 0; margin: 0; }

.playlist__item {
	display: block;
	margin: 20px auto;
	width: 400px;

	border-radius: 5px;
	font-size: 18px;
	padding: 10px;

	list-style: none;
	text-align: left;

	border: 1px solid #999;
	background-color: rgba(0, 0, 0, 0.1);
}